/* Text styles */
.xr_s0 {font-family:'Tahoma';font-weight:bold;font-style:normal;font-size:35pt;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#333333;background-color:Transparent;letter-spacing:0em;}
